In [10]:
import os, sys
import requests
import pandas as pd
import matplotlib
import json
import django
from django.db import models

In [11]:
os.getcwd()

'/Users/MuriloMac/git/titan/django'

In [7]:
os.getcwd()
os.chdir('/Users/MuriloMac/git/titan/django')

In [8]:
django.setup()
from polls.models import Asset

In [12]:
ALPHA_KEY = os.environ['ALPHA_KEY']
payload = {'symbol':'GGBR4.SA','function':'TIME_SERIES_DAILY_ADJUSTED', 'outputsize':'full', 'apikey':ALPHA_KEY}
alpha = requests.get('https://www.alphavantage.co/query?', params=payload)

In [13]:
text_json_values = alpha.json()['Time Series (Daily)']

In [14]:
df = pd.DataFrame.from_dict(text_json_values, orient='index')

In [15]:
cols = ['1. open','2. high','3. low','4. close','5. adjusted close','6. volume','7. dividend amount','8. split coefficient']
df = df[cols]

In [16]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2000-05-02,2.4667,2.5556,2.4222,2.5556,1.3172,348659987,0.0000,1.0000
2000-05-03,2.5556,2.5556,2.4667,2.4667,1.2714,248039991,0.0000,1.0000
2000-05-04,2.4889,2.5111,2.4889,2.4889,1.2829,478529982,0.0000,1.0000
2000-05-05,2.4889,2.5556,2.4889,2.5333,1.3058,537029980,0.0000,1.0000
2000-05-08,2.5333,2.5333,2.4889,2.4889,1.2829,198899993,0.0000,1.0000
2000-05-09,2.4889,2.5111,2.3111,2.4000,1.2370,243359991,0.0000,1.0000
2000-05-10,2.3778,2.3778,2.2889,2.3111,1.1912,405989985,0.0000,1.0000
2000-05-11,2.2889,2.3333,2.2889,2.3333,1.2027,1092779960,0.0000,1.0000
2000-05-12,2.4444,2.4444,2.2444,2.2667,1.1683,420029985,0.0000,1.0000
2000-05-15,2.2889,2.2889,2.2667,2.2667,1.1683,3808349860,0.0000,1.0000
2000-05-16,2.2889,2.3333,2.2667,2.2889,1.1798,2303729915,0.0000,1.0000
2000-05-17,2.2889,2.2889,2.2222,2.2444,1.1569,170819994,0.0000,1.0000
2000-05-18,2.2222,2.2222,2.0889,2.1111,1.0881,1510469945,0.0000,1.0000
2000-05-19,2.0889,2.0889,2.0222,2.0444,1.0538,363869987,0.0000,1.0000
2000-05-22,2.0667,2.0667,1.9556,2.0000,1.0309,1219139955,0.0000,1.0000
2000-05-23,2.0000,2.0222,1.8889,1.9111,0.9850,1030769962,0.0000,1.0000
2000-05-24,1.9556,1.9556,1.8444,1.8889,0.9736,1700009938,0.0000,1.0000
2000-05-25,1.8889,1.9778,1.8889,1.9333,0.9965,3352049877,0.0000,1.0000
2000-05-26,1.9556,2.0444,1.9556,2.0444,1.0538,630629977,0.0000,1.0000
2000-05-29,2.1111,2.1111,2.0667,2.0889,1.0767,1043639962,0.0000,1.0000
2000-05-30,2.1111,2.2222,2.0889,2.2222,1.1454,3038489889,0.0000,1.0000
2000-05-31,2.2000,2.3333,2.2000,2.3333,1.2027,2719079900,0.0000,1.0000
2000-06-01,2.2889,2.4444,2.2889,2.4222,1.2485,1861469932,0.0000,1.0000
2000-06-02,2.4889,2.5111,2.3333,2.4000,1.2370,2189069920,0.0000,1.0000
2000-06-05,2.4444,2.4444,2.4000,2.4222,1.2485,1319759952,0.0000,1.0000
2000-06-06,2.4222,2.4222,2.4222,2.4222,1.2485,0,0.0000,1.0000
2000-06-07,2.4444,2.4667,2.4222,2.4667,1.2714,1031939962,0.0000,1.0000
2000-06-08,2.4889,2.5111,2.4000,2.4667,1.2714,1537379944,0.0000,1.0000
2000-06-09,2.4444,2.4667,2.4000,2.4444,1.2599,1205099956,0.0000,1.0000
2000-06-12,2.4000,2.4222,2.3556,2.3778,1.2256,405989985,0.0000,1.0000
...,...,...,...,...,...,...,...,...
2018-06-15,14.1100,14.2500,13.6500,14.0400,14.0400,14392200,0.0000,1.0000
2018-06-18,13.8400,14.2200,13.6500,14.1000,14.1000,7197200,0.0000,1.0000
2018-06-19,13.7900,14.1500,13.6300,14.0400,14.0400,10405000,0.0000,1.0000
2018-06-20,14.2300,14.9400,14.0500,14.7400,14.7400,20600700,0.0000,1.0000
2018-06-21,14.6000,14.8200,13.9200,13.9900,13.9900,7982700,0.0000,1.0000
2018-06-22,14.1500,14.4700,13.8500,14.2600,14.2600,9627000,0.0000,1.0000
2018-06-25,14.3400,14.4200,13.6100,13.8700,13.8700,8923200,0.0000,1.0000
2018-06-26,13.9200,13.9300,13.3800,13.4600,13.4600,12723600,0.0000,1.0000
2018-06-27,13.4000,13.7800,13.0900,13.5600,13.5600,11000300,0.0000,1.0000
2018-06-28,13.4500,14.0600,13.1900,13.9300,13.9300,11618900,0.0000,1.0000
2018-06-29,14.1200,14.2500,13.6500,13.9100,13.9100,12948800,0.0000,1.0000
2018-07-02,13.8300,14.0900,13.6500,13.9200,13.9200,6549000,0.0000,1.0000
2018-07-03,14.1000,14.4600,13.9600,14.2900,14.2900,11666800,0.0000,1.0000
2018-07-04,14.3500,14.5800,14.1000,14.5800,14.5800,4622200,0.0000,1.0000
2018-07-05,14.8400,15.3300,14.6300,15.1600,15.1600,18512300,0.0000,1.0000
2018-07-06,15.2500,15.6600,15.0300,15.5200,15.5200,11001000,0.0000,1.0000
2018-07-09,15.5200,15.5200,15.5200,15.5200,15.5200,0,0.0000,1.0000
2018-07-10,15.6900,15.8500,15.1200,15.2500,15.2500,13836300,0.0000,1.0000
2018-07-11,15.1000,15.1900,14.8000,14.8900,14.8900,9851600,0.0000,1.0000
2018-07-12,15.1500,15.7900,15.0100,15.7000,15.7000,10910800,0.0000,1.0000
2018-07-13,15.6800,15.8300,15.4900,15.5100,15.5100,6772700,0.0000,1.0000
2018-07-16,15.5100,15.7300,15.2900,15.7300,15.7300,8779100,0.0000,1.0000
2018-07-17,15.6600,16.4900,15.6300,16.1600,16.1600,12612600,0.0000,1.0000
2018-07-18,16.2500,16.5200,16.0600,16.2700,16.2700,11153100,0.0000,1.0000
2018-07-19,16.0000,16.0500,15.5600,15.9700,15.9700,14900600,0.0000,1.0000
2018-07-20,16.3700,16.4500,16.0500,16.2500,16.2500,13427700,0.0000,1.0000
2018-07-23,16.3000,16.5400,16.2800,16.3000,16.3000,6643500,0.0000,1.0000
2018-07-24,16.7900,17.1200,16.6600,16.7800,16.7800,13459900,0.0000,1.0000
2018-07-25,16.9400,16.9500,16.3800,16.6500,16.6500,10145800,0.0000,1.0000
2018-07-26,16.6500,16.7000,16.1300,16.2600,16.2600,6607300,0.0000,1.0000

In [20]:
a = Asset.objects.all()

In [22]:
a

<QuerySet [<Asset: Asset object (1)>, <Asset: Asset object (2)>, <Asset: Asset object (3)>, <Asset: Asset object (4)>, <Asset: Asset object (5)>, <Asset: Asset object (6)>, <Asset: Asset object (7)>, <Asset: Asset object (8)>, <Asset: Asset object (9)>, <Asset: Asset object (10)>, <Asset: Asset object (11)>, <Asset: Asset object (12)>, <Asset: Asset object (13)>, <Asset: Asset object (14)>, <Asset: Asset object (15)>, <Asset: Asset object (16)>, <Asset: Asset object (17)>, <Asset: Asset object (18)>, <Asset: Asset object (19)>, <Asset: Asset object (20)>, '...(remaining elements truncated)...']>

In [26]:
a[0].asset_code

'SUZB5'