In [1]:
import os
import requests
import pandas as pd
import matplotlib
import json

In [2]:
ALPHA_KEY = os.environ['ALPHA_KEY']
payload = {'symbol':'GGBR4.SA','function':'TIME_SERIES_DAILY_ADJUSTED', 'outputsize':'full', 'apikey':ALPHA_KEY}
alpha = requests.get('https://www.alphavantage.co/query?', params=payload)

In [3]:
text_json_values = alpha.json()['Time Series (Daily)']

In [4]:
df = pd.DataFrame.from_dict(text_json_values, orient='index')

In [5]:
cols = ['1. open','2. high','3. low','4. close','5. adjusted close','6. volume','7. dividend amount','8. split coefficient']
df = df[cols]

In [6]:
df

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2000-05-02,2.4667,2.5556,2.4222,2.5556,1.3234,348659987,0.0000,1.0000
2000-05-03,2.5556,2.5556,2.4667,2.4667,1.2774,248039991,0.0000,1.0000
2000-05-04,2.4889,2.5111,2.4889,2.4889,1.2889,478529982,0.0000,1.0000
2000-05-05,2.4889,2.5556,2.4889,2.5333,1.3119,537029980,0.0000,1.0000
2000-05-08,2.5333,2.5333,2.4889,2.4889,1.2889,198899993,0.0000,1.0000
2000-05-09,2.4889,2.5111,2.3111,2.4000,1.2428,243359991,0.0000,1.0000
2000-05-10,2.3778,2.3778,2.2889,2.3111,1.1968,405989985,0.0000,1.0000
2000-05-11,2.2889,2.3333,2.2889,2.3333,1.2083,1092779960,0.0000,1.0000
2000-05-12,2.4444,2.4444,2.2444,2.2667,1.1738,420029985,0.0000,1.0000
2000-05-15,2.2889,2.2889,2.2667,2.2667,1.1738,3808349860,0.0000,1.0000
2000-05-16,2.2889,2.3333,2.2667,2.2889,1.1853,2303729915,0.0000,1.0000
2000-05-17,2.2889,2.2889,2.2222,2.2444,1.1623,170819994,0.0000,1.0000
2000-05-18,2.2222,2.2222,2.0889,2.1111,1.0932,1510469945,0.0000,1.0000
2000-05-19,2.0889,2.0889,2.0222,2.0444,1.0587,363869987,0.0000,1.0000
2000-05-22,2.0667,2.0667,1.9556,2.0000,1.0357,1219139955,0.0000,1.0000
2000-05-23,2.0000,2.0222,1.8889,1.9111,0.9897,1030769962,0.0000,1.0000
2000-05-24,1.9556,1.9556,1.8444,1.8889,0.9782,1700009938,0.0000,1.0000
2000-05-25,1.8889,1.9778,1.8889,1.9333,1.0012,3352049877,0.0000,1.0000
2000-05-26,1.9556,2.0444,1.9556,2.0444,1.0587,630629977,0.0000,1.0000
2000-05-29,2.1111,2.1111,2.0667,2.0889,1.0817,1043639962,0.0000,1.0000
2000-05-30,2.1111,2.2222,2.0889,2.2222,1.1508,3038489889,0.0000,1.0000
2000-05-31,2.2000,2.3333,2.2000,2.3333,1.2083,2719079900,0.0000,1.0000
2000-06-01,2.2889,2.4444,2.2889,2.4222,1.2543,1861469932,0.0000,1.0000
2000-06-02,2.4889,2.5111,2.3333,2.4000,1.2428,2189069920,0.0000,1.0000
2000-06-05,2.4444,2.4444,2.4000,2.4222,1.2543,1319759952,0.0000,1.0000
2000-06-06,2.4222,2.4222,2.4222,2.4222,1.2543,0,0.0000,1.0000
2000-06-07,2.4444,2.4667,2.4222,2.4667,1.2774,1031939962,0.0000,1.0000
2000-06-08,2.4889,2.5111,2.4000,2.4667,1.2774,1537379944,0.0000,1.0000
2000-06-09,2.4444,2.4667,2.4000,2.4444,1.2658,1205099956,0.0000,1.0000
2000-06-12,2.4000,2.4222,2.3556,2.3778,1.2313,405989985,0.0000,1.0000
...,...,...,...,...,...,...,...,...
2018-04-05,15.8900,16.4000,15.7300,16.3800,16.3800,12817700,0.0000,1.0000
2018-04-06,16.2600,16.4900,15.9600,16.1300,16.1300,9290400,0.0000,1.0000
2018-04-09,16.2300,16.3200,15.6400,15.8100,15.8100,9326700,0.0000,1.0000
2018-04-10,16.0800,16.2700,15.7800,16.1400,16.1400,9020200,0.0000,1.0000
2018-04-11,16.0700,16.3900,15.9500,16.0200,16.0200,7239200,0.0000,1.0000
2018-04-12,16.0000,16.5200,15.9800,16.4500,16.4500,7364900,0.0000,1.0000
2018-04-13,16.5900,16.7300,16.4100,16.4100,16.4100,7788700,0.0000,1.0000
2018-04-16,16.3200,16.5000,16.1100,16.3600,16.3600,9793000,0.0000,1.0000
2018-04-17,16.4400,16.8600,16.4200,16.8000,16.8000,7202700,0.0000,1.0000
2018-04-18,16.9000,17.5000,16.9000,17.3400,17.3400,10599000,0.0000,1.0000
2018-04-19,17.2000,17.4900,16.9600,17.1700,17.1700,8664800,0.0000,1.0000
2018-04-20,17.2300,17.3200,16.7700,16.9500,16.9500,6428700,0.0000,1.0000
2018-04-23,17.0500,17.0700,16.6600,16.7300,16.7300,6251900,0.0000,1.0000
2018-04-24,16.9000,17.1300,16.5900,16.7600,16.7600,6451200,0.0000,1.0000
2018-04-25,16.5100,16.9600,16.3600,16.7700,16.7700,4682200,0.0000,1.0000
2018-04-26,16.7700,17.1600,16.7300,17.0200,17.0200,5635900,0.0000,1.0000
2018-04-27,17.2100,17.2200,16.5900,16.6800,16.6800,10196700,0.0000,1.0000
2018-04-30,16.6200,16.8100,16.5100,16.6500,16.6500,3610600,0.0000,1.0000
2018-05-02,16.4500,16.7900,16.2400,16.2400,16.2400,7220700,0.0000,1.0000
2018-05-03,16.2500,16.5900,16.1800,16.4900,16.4900,6859400,0.0000,1.0000
2018-05-04,16.4800,16.9300,16.3500,16.8400,16.8400,6804200,0.0000,1.0000
2018-05-07,16.8500,17.0300,16.3300,16.3600,16.3600,6043700,0.0000,1.0000
2018-05-08,16.3600,16.5600,15.9900,16.3300,16.3300,9411500,0.0000,1.0000
2018-05-09,17.1000,17.4000,16.9700,17.3600,17.3600,22453600,0.0000,1.0000
2018-05-10,17.4600,18.0000,17.4100,17.8500,17.8500,13133900,0.0000,1.0000
2018-05-11,17.8700,18.1400,17.5700,17.7500,17.7500,10356100,0.0000,1.0000
2018-05-14,17.9000,18.1200,17.5600,17.7100,17.7100,6453900,0.0000,1.0000
2018-05-15,17.5100,17.8300,17.2500,17.7800,17.7800,8970200,0.0000,1.0000
2018-05-16,17.6000,18.3700,17.5700,18.2500,18.2500,12097700,0.0000,1.0000
2018-05-17,18.1900,18.5300,17.8400,17.9600,17.9600,12680600,0.0000,1.0000